.edit-album {
  min-height: 100vh;
  background-color: red;
}

.cancel-edit-album-btn {
  position: absolute;
  right: 0;
  font-size: 1.4em;
}

.edit-album-form {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  height: 15vh;
  width: 100vw;
}

#edit-title-input {
  font-size: calc(1em + 4vw);
  height: 10vh;
}

.submit-album-update-btn {
  font-size: 1em;
}