#resume {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
}

#resume > h1 {
  margin: 20px;
  font-size: calc(1em + 3vw);
}

#resume > .line {
  width: 80vw;
  margin: 0 0 20px;
}

#resume-frame {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-template-areas:
    "top-left center top-right"
    ". center ."
    "bottom-left center bottom-right";
  background-color: black;
  height: 75vh;
  width: 75vw;
}
  
.corner-border {
  position: relative;
  z-index: 1;
  width: 10vw;
  height: 10vw;
  border: solid white;
  border-width: 5px 0 0 5px;
}

#corner-border-1 {
  grid-area: top-left;
}

#corner-border-2 {
  grid-area: top-right;
  position: relative;
  left: 100%;
  rotate: 90deg;
  transform: translateY(100%);
}

#corner-border-3 {
  grid-area: bottom-left;
  position: relative;
  top: 100%;
  transform: translateX(100%);
  rotate: -90deg;
}

#corner-border-4 {
  grid-area: bottom-right;
  position: relative;
  top: 100%;
  left: 100%;
  transform: translate(100%, 100%);
  rotate: 180deg;
}

#resume-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-inline: -1000px;
  grid-area: center;
  justify-self: center;
  align-self: center;
  background-color: blue;
  height: 60vh;
  width: 60vw;
  z-index: 0;
}

#resume-container > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#resume-container > * > a {
  font-size: 5vw;
}
