.gallery {
  background-color: red;
}

.triple-line {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.triple-line > .line {
  width: 30vw;
}

.fancybox-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

@media (max-width: 576px) {
  .triple-line {
    grid-template-columns: 1fr 1fr;
  }

  .triple-line > :last-child {
    visibility: hidden;
  }

  .fancybox-container {
    grid-template-columns: 1fr 1fr;
  }
}