.album-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30vw;
  height: 50vh;
}

.album-thumbnail > h1 {
  font-size: calc(1em + 1.2vw);
  font-family: 'Tenor Sans', sans-serif;
}

.album-thumbnail-img {
  overflow: hidden;
  height: 20vw;
  width: 30vw;
}

.album-thumbnail-img > img {
  height: 100%;
}

.album-thumbnail > .line {
  width: 33vw;
}


@media (max-width: 1024px) {
  .album-thumbnail {
    width: 80vw;
  }
  
  .album-thumbnail > h1 {
    font-size: calc(1em + 3vw);
    font-family: 'Tenor Sans', sans-serif;
  }
  
  .album-thumbnail-img {
    height: 53.33vw;
    width: 80vw;
  }
  
  .album-thumbnail > .line {
    width: 88vw;
  }
  
}
@media (max-width: 576px) {
  .album-thumbnail-img {
    height: 80vw;
    width: 80vw;
  }
}