#accordion {
  display: flex;
  flex-direction: column;
  background-image: url('https://i.imgur.com/Rls5q4N.jpg');
}

#accordion > :first-child {
  border-top: 5px solid white;
}

.accordion-tab {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  height: 20vh;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  border: solid white;
  border-width: 2.5px 5px 2.5px 5px;
  color: white;
  text-shadow: 3px 3px 2px black;
  font-size: calc(0.5em + 2vw);
  font-family: 'Tenor Sans', sans-serif;
  text-align: center;
  transition: all 1s;
}

.accordion-tab:hover {
  position: relative;
  border-top: 5px solid white;
  margin: -2vh 0;
  height: 24vh;
  width: 102vw;
  right: 1vw;
  box-shadow: 0 8px 4px black;
}

.accordion-tab:hover > h1 {
  transition: all 1s;
}

.accordion-tab > h1 {
  margin: 0 20px;
}

#about-tab {
  background-color: #7d6fffA8;
}

#choreographer-tab {
  background-color: #ff6fbcA8;
}

#performance-tab {
  background-color: #6FC3FFA8;
}

#resume-tab {
  background-color: #FFF16FA8;
}

#contact-tab {
  background-color: #CD6FFFA8;
}

#about-tab > h1 {
  grid-column-start: 1;
}

#choreographer-tab > h1 {
  grid-column-start: 2;
}

#performance-tab > h1 {
  grid-column-start: 3;
}

#resume-tab > h1 {
  grid-column-start: 4;
}

#contact-tab > h1 {
  grid-column-start: 5;
}

